footer {
  h4 {
    margin-top: 4em;
  }
}

.footnotes {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2em 0;
}

.footnotes li {
  margin-top: 1em;
}

.footnote-number {
  font-size: 2em;
  font-weight: 900;
  margin-right: 0.3em;
}

.footnote-go-back {
  font-size: 0.9em;
  margin-left: 0.3em;
}

.footnote-go-back {
  white-space: nowrap;
}

.call-to-action {
  font-size: 1.2em;
  color: #000;
  padding: 2em 2em 1em 2em;
  margin-bottom: 2em;
  border: 2px solid rgba(0,0,0,0.2);
  background-color: #fff;
  line-height: 1.5em;

  @include desktop {
    font-size: 1.5em;
  }
}
