.infocard-wrap {
  h1 {
    letter-spacing: 0.05em;
    color: #79E0FF;

    @include desktop {
      font-size: 3em;
      margin-bottom: 0.1em;
    }
  }

  h2 {
    @include desktop {
      letter-spacing: 0.03em;
      margin-bottom: 1.5em;
    }
  }
}

h2 span {
  white-space: nowrap;
}

.infocard {

  @include desktop {
    position: relative;
    padding-left: 190px;
    padding-top: 5em;
    padding-bottom: 4em;
    font-size: 0.8em;
  }

  @include bigass {
    padding-left: 220px;
  }

  .telephone {
    font-weight: bold;
  }

}

.infocard picture {
  display: block;
  text-align: center;
  padding: 2em 0 0 0;

  img {
    border-radius: 300px;
    border: 5px solid rgba(255,255,255,0.8);
  }

  @include desktop {
    display: block;
    text-align: center;
    padding: 0;
    position: absolute;
    left: 10px;
    top: 73px;
  }

  @include bigass {
    top: 92px;
  }

}

.infocard--small picture {
  padding-top: 0;
  @include desktop {
    top: 30px;
  }

  @include bigass {
    top: 60px;
  }
}

.intro {
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 1.1em;
}
