<!DOCTYPE html>
<html lang="nl">
<head>
  <title>UX Advies - User Experience consultancy op maat</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>

  {% block content %}
    <p>Deze pagina is leeg.</p>
  {% endblock %}

  <dialog id="js-cover">
    <button id="js-closecover">Sluit</button>
    <img src="" alt>
  </dialog>

  <script src="js/loadCSS.js"></script>
  <script defer type="text/javascript">
    loadCSS("http://fonts.googleapis.com/css?family=Raleway:300,700,900", "all");
  </script>

  <script src="js/dialog.js"></script>
  <script src="js/ga.js" defer></script>
</body>
</html>
